/*
---------------------
DOC DEFAULTS
---------------------
*/


* {
    margin: 0;
    padding: 0;
}

html,body {
    font-size: 1.125rem;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    line-height: 1.875rem;
    letter-spacing: -0.008rem;
    text-align: center;
    background-color: #f2f2f2;
    color: #808397;
}


/*
---------------------
MOBILE MAIN LAYOUT
---------------------
*/


.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.agency-website {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 23.438rem;
}

.sunnyside-header {
    margin: 2rem 1.5rem 0 1.5rem;
}

.creative-orange-section {
    color: #fff;
    height: 33.625rem;
    background-image: url(images/mobile/image-header.jpg);
    background-position: center 75%;
}

.egg-transform-section,
.pink-cup-stand-out-section {
    height: 46.813rem;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.photography-section {
    height: 37.5rem;
    background-image: url(images/mobile/image-photography.jpg);
    background-position: center 75%;
    background-size: contain;
}

.graphic-design-section {
    height: 37.5rem;
    background-image: url(images/mobile/image-graphic-design.jpg);
    background-position: center 75%;
    background-size: contain;
}

.pink-cup,
.egg {
    height: 19.5rem;
}

.brand-transformation,
.stand-out {
    display: flex;
    height: 27.313rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 1.5rem;
}

.testimonials-section{
    height: 78.625rem;
    padding: 4rem 1.5rem 5.375rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.client {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-grid-container {
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid-images {
    height: 11.75rem;
    width: 11.75rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container {
    background-color: #90D4C6;
    width: 23.438rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-nav-container {
    padding: 2.5rem 2.438rem 5.5rem 2.438rem;
}

.footer-nav {   
    display: flex;
    flex-direction: row;
    list-style: none;
}


/*
---------------------
MOBILE TYPOGRAPHY
---------------------
*/


.we-are-creatives {
    text-transform: uppercase;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 2.5rem;
    letter-spacing: 0.391rem;
    line-height: 3.063rem;
    text-align: center;
    margin-top: 9rem
}

.section-title {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 2rem;
    line-height: 2.466rem;
    letter-spacing: -0.014rem;
    color: #24303E;
}

.description {
    padding: 1.5rem 0rem 2rem 0;
}

.graphic-design-description,
.graphic-design-title {
    color: #24554A;
}

.photography-title {
    color: #052C3B;
}

.photography-description {
    color: #19536C;
}

.graphic-design-description,
.photography-description {
    letter-spacing: -0.007rem;
    line-height: 1.688rem;
    font-size: 1rem;
    padding: 1.688rem 1.5rem 3.688rem 1.5rem;
}

.graphic-design-title,
.photography-title {
    padding-top: 24.875rem;
    font-size: 1.75rem;
    letter-spacing: -0.013rem;
    line-height: 2.158rem;
}

.client-testimonials {
    color: #A7AAAD;
    text-transform: uppercase;
    font-family: 'Fraunces', serif;
    letter-spacing: 0.25rem;
    line-height: 1.233rem;
    font-size: 1rem;
    font-weight: 900;
    padding: 0.563rem 0;
}

.testimonial-description {
    margin: 2rem 0;
    order: 2;
    font-size: 1.125rem;
    line-height: 2rem;
}

.client-name {
    font-family: 'Fraunces', serif;
    color: #24303E;
    line-height: 1.375rem;
    font-size: 1.125rem;
    letter-spacing: -0.008rem;
    font-weight: 900;
    order: 3;
}

.job-title {
    line-height: 1.563rem;
    letter-spacing: -0.006rem;
    font-size: 0.875rem;
    order: 4;
    color: #A7AAAD;
    padding-top: 0.563rem;
}

/*
---------------------
MOBILE LINKS/BUTTONS
---------------------
*/


.learn-more-link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
}

.link-text,
.line-underline {
    text-transform: uppercase;
    font-family: 'Fraunces', serif;
    letter-spacing: 1px;
    line-height: 1.563rem;
    font-size: 0.938rem;
}

.link-text {
    color: #24303E;
    z-index: 2;
}

.link-underline {
    color: rgb(250, 212, 0, 0);
    line-height: 10px;
    height: 10px;
    border-radius: 1.75rem;
    width: 8.563rem;
    position: relative;
    z-index: 1;
    top: 27px;
    transition: 0.4s;
}

.underline-yellow {
    background-color: rgb(250, 212, 0, .25);
}

.underline-pink {
    background-color: rgb(254, 119, 102, .25);
}

.underline-yellow:hover {
    background-color: rgb(250, 212, 0, 1);
}


/*
---------------------
MOBILE ICONS/LOGOS/IMGS
---------------------
*/


.sunnyside-logo {
    position: relative;
    float: left;
}

.hamburger {
    position: relative;
    float: right;
}

.down-arrow {
    width:  1.875rem;
    height: 6.718rem;
    margin: 3.25rem 10.781rem 8.533rem 10.781rem;
}

.client-photo {
    border-radius: 50%;
    width: 4.5rem;
    height: 4.5rem;
    order: 1;
}

.footer-logo {
    margin-top: 4rem;
    filter: brightness(0) saturate(100%) invert(37%) sepia(7%) saturate(5381%) hue-rotate(119deg) brightness(90%) contrast(66%);
    width: 10.625rem;
    height: 2.063rem;
}

.nav-link-center {
    padding: 0 3.563rem;
}

.nav-link {
    text-decoration: none;
    color: #458D7E;
}

.social-media-icons {
    width: 10.25rem;
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    padding-bottom: 5rem;
}

/*
---------------------
MEDIA QUERIES
---------------------
*/

@media (min-width: 23.5rem) {

    .agency-website {
        width: 100%;
    }

    .creative-orange-section {
        color: #fff;
        height: 50rem;
        width: 100%;
        background-image: url(images/desktop/image-header.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .egg-transform-section,
    .pink-cup-stand-out-section {
        flex-direction: row;
        width: 100%;
    }
    
    .brand-transformation {
        width: 50%;
        order: 1;
    }

    .stand-out {
        order: 2;
    }

    .cherry-and-orange-sections{
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .graphic-design-section,
    .photography-section {
        display: flex;
        flex-direction: column;
        background-repeat: no-repeat;
        background-size: cover;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .graphic-design-section {
        background-image: url(images/desktop/image-graphic-design.jpg);
        width: 50%;
    }

    .photography-section {
        background-image: url(images/desktop/image-photography.jpg);
        width: 50%;
    }


    /*
    ---------------------
    DESKTOP TYPOGRAPHY
    ---------------------
    */

    .we-are-creatives {
        font-size: 3.5rem;
        letter-spacing: 0.391rem;
        line-height: 4.313rem;
        margin-top: 9rem
    }

    .graphic-design-description,
    .photography-description {
        margin: 0 1.5rem 0 1.5rem;
        max-width: 21.188rem;
    }

    /*
    ---------------------
    DESKTOP ICONS/LOGOS/IMGS
    ---------------------
    */

    .egg,
    .pink-cup {
        width: 50%;
        object-fit: cover;
        height: 100%;
    }

    .egg {
        order: 2;
    }

    .pink-cup {
        order: 1;
    }
}
