* {
    margin: 0;
    padding: 0;
}

html,body {
    font-size: 1.125rem;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    line-height: 1.875rem;
    letter-spacing: -0.008rem;
    text-align: center;
}

header {
    display: flex;
    flex-direction: row;
    position: absolute;
}

